<p-floatlabel [variant]="variant">
  <input
    pInputText
    [pSize]="size"
    [id]="inputId"
    type="text"
    [ngModel]="value"
    (ngModelChange)="onChange($event)"
    [disabled]="disabled"
    [readonly]="readonly"
    [required]="required"
    [autofocus]="autofocus"
    [attr.placeholder]="(placeholder | appTranslate) || null"
    [invalid]="invalid"
    autocomplete="off"
    [style.width.%]="fluid ? 100 : null"
    [class]="styleClass"
    [attr.title]="(tooltip | appTranslate) || null"
    (blur)="onBlur()"
    (focus)="onFocus()"
  />
  <label [attr.for]="inputId">{{ label | appTranslate }}</label>
</p-floatlabel>

@if (helpText && !invalid) {
  <small [id]="inputId">{{ helpText | appTranslate }}</small>
}

@if (invalid && errorMessage) {
  <p-message severity="error" size="small" variant="simple">{{ errorMessage | appTranslate }}</p-message>
}
