<div
  class="input-wrapper"
  [class.fluid]="fluid"
  [class.small]="size === 'small'"
  [class.large]="size === 'large'"
>
    <p-floatlabel [attr.variant]="variant">

      <input
        pInputText
        [id]="inputId"
        type="text"
        [(ngModel)]="value"
        (ngModelChange)="valueChange.emit($event)"
        [disabled]="disabled"
        [attr.placeholder]="placeholder || null"
        [invalid]="invalid"
        autocomplete="off"
        [style.width.%]="fluid ? 100 : null"
      />
      <label [attr.for]="inputId">
        {{label}}
      </label>
    </p-floatlabel>
   

  @if (helpText && !invalid) {
    <small class="help-text">
      {{ helpText }}
    </small>
  }

  @if (invalid && errorMessage) {
    <small class="error-text">
      {{ errorMessage }}
    </small>
  }

</div>