
    <p-floatlabel [variant]="variant">

      <input
        pInputText
        [pSize]="size"
        [id]="inputId"
        type="text"
        [(ngModel)]="value"
        (ngModelChange)="valueChange.emit($event)"
        [disabled]="disabled"
        [attr.placeholder]="placeholder || null"
        [invalid]="invalid"
        autocomplete="off"
        [style.width.%]="fluid ? 100 : null"
        (blur)="blur.emit()"
        (focus)="focus.emit()"
      />
      <label [attr.for]="inputId">
        {{label}}
      </label>
    </p-floatlabel>
   

    @if (helpText && !invalid) {
      <small [id]="inputId">
        {{ helpText }}
      </small>
    }
  
    @if (invalid && errorMessage) {
      <p-message 
        severity="error" 
        size="small" 
        variant="simple">{{ errorMessage }}
      </p-message>
    }