<div [class]="styleClass">
  @if (label) {
    <label [attr.for]="inputId" class="mb-2 block">{{ label | appTranslate }}</label>
  }

  <p-selectbutton
    [options]="translatedOptions"
    [optionLabel]="optionLabel"
    [optionValue]="optionValue"
    [multiple]="multiple"
    [allowEmpty]="allowEmpty"
    [ngModel]="value"
    (ngModelChange)="onChange($event)"
    [disabled]="disabled"
    [invalid]="invalid"
    (onOptionClick)="onSelect()"
  />
</div>

@if (helpText && !invalid) {
  <small [id]="inputId">{{ helpText | appTranslate }}</small>
}

@if (invalid && errorMessage) {
  <p-message severity="error" size="small" variant="simple">{{ errorMessage | appTranslate }}</p-message>
}
