<div>
  @if (field.visible()) {
    @if (readonlyMode) {
      <app-readonly-field [field]="field"></app-readonly-field>
    } @else {
    @switch (field.type) {
      @case ('text') {
        <app-input-text
          [invalid]="showInvalid"
          [errorMessage]="firstErrorMessage"
          [label]="field.label"
          [required]="field.required()"
          [placeholder]="textConfig?.placeholder"
          [value]="field.value()"
          [disabled]="field.disabled()"
          [helpText]="helpText"
          (valueChange)="field.setValue($event)"
          (focus)="onFocus()"
          (blur)="onBlur()" />
      }
      @case ('number') {
        <app-input-number
          [invalid]="showInvalid"
          [errorMessage]="firstErrorMessage"
          [label]="field.label"
          [required]="field.required()"
          [value]="field.value()"
          [disabled]="field.disabled()"
          [mode]="resolvedNumberMode"
          [currency]="numberConfig?.currency"
          [suffix]="resolvedNumberSuffix"
          [prefix]="numberConfig?.prefix"
          [minFractionDigits]="numberConfig?.minFractionDigits"
          [maxFractionDigits]="numberConfig?.maxFractionDigits"
          [helpText]="helpText"
          (valueChange)="field.setValue($event)"
          (focus)="onFocus()"
          (blur)="onBlur()" />
      }
      @case ('decimal') {
        <app-input-number
          [invalid]="showInvalid"
          [errorMessage]="firstErrorMessage"
          [label]="field.label"
          [required]="field.required()"
          [value]="field.value()"
          [disabled]="field.disabled()"
          [mode]="resolvedNumberMode"
          [currency]="numberConfig?.currency"
          [suffix]="resolvedNumberSuffix"
          [prefix]="numberConfig?.prefix"
          [minFractionDigits]="numberConfig?.minFractionDigits"
          [maxFractionDigits]="numberConfig?.maxFractionDigits"
          [helpText]="helpText"
          (valueChange)="field.setValue($event)"
          (focus)="onFocus()"
          (blur)="onBlur()" />
      }
      @case ('percent') {
        <app-input-number
          [invalid]="showInvalid"
          [errorMessage]="firstErrorMessage"
          [label]="field.label"
          [required]="field.required()"
          [value]="field.value()"
          [disabled]="field.disabled()"
          [mode]="resolvedNumberMode"
          [currency]="numberConfig?.currency"
          [suffix]="resolvedNumberSuffix"
          [prefix]="numberConfig?.prefix"
          [minFractionDigits]="numberConfig?.minFractionDigits"
          [maxFractionDigits]="numberConfig?.maxFractionDigits"
          [helpText]="helpText"
          (valueChange)="field.setValue($event)"
          (focus)="onFocus()"
          (blur)="onBlur()" />
      }
      @case ('currency') {
        <app-input-number
          [invalid]="showInvalid"
          [errorMessage]="firstErrorMessage"
          [label]="field.label"
          [required]="field.required()"
          [value]="field.value()"
          [disabled]="field.disabled()"
          [mode]="resolvedNumberMode"
          [currency]="numberConfig?.currency"
          [suffix]="resolvedNumberSuffix"
          [prefix]="numberConfig?.prefix"
          [minFractionDigits]="numberConfig?.minFractionDigits"
          [maxFractionDigits]="numberConfig?.maxFractionDigits"
          [helpText]="helpText"
          (valueChange)="field.setValue($event)"
          (focus)="onFocus()"
          (blur)="onBlur()" />
      }
      @case ('select') {
        <app-select
          [label]="field.label"
          [required]="field.required()"
          [value]="field.value()"
          [options]="field.options()"
          [placeholder]="selectConfig?.placeholder"
          [showClear]="selectConfig?.showClear ?? false"
          [disabled]="field.disabled()"
          [invalid]="showInvalid"
          [errorMessage]="firstErrorMessage"
          [helpText]="helpText"
          (valueChange)="field.setValue($event)"
          (focus)="onFocus()"
          (blur)="onBlur()">
        </app-select>
      }
      @case ('checkbox') {
        <app-check-box
            [label]="field.label"
            [required]="field.required()"
            [value]="field.value()"
            [disabled]="field.disabled()"
            [invalid]="showInvalid"
            [errorMessage]="firstErrorMessage"
            [helpText]="helpText"
            (valueChange)="onChangeValue($event)"
            (focus)="onFocus()"
            (blur)="onBlur()">
        </app-check-box>
      }
      @case ('boolean') {
        <app-check-box
            [label]="field.label"
            [required]="field.required()"
            [value]="field.value()"
            [disabled]="field.disabled()"
            [invalid]="showInvalid"
            [errorMessage]="firstErrorMessage"
            [helpText]="helpText"
            (valueChange)="onChangeValue($event)"
            (focus)="onFocus()"
            (blur)="onBlur()">
        </app-check-box>
      }
       @case ('date') {
        <app-date-picker
            [label]="field.label"
            [required]="field.required()"
            [value]="field.value()"
            [disabled]="field.disabled()"
            [invalid]="showInvalid"
            [errorMessage]="firstErrorMessage"
            [helpText]="helpText"
            (valueChange)="field.setValue($event)"
            (focus)="onFocus()"
            (blur)="onBlur()">
        </app-date-picker>
      }
       @case ('datetime') {
        <app-date-picker
            [label]="field.label"
            [required]="field.required()"
            [value]="field.value()"
            [disabled]="field.disabled()"
            [invalid]="showInvalid"
            [errorMessage]="firstErrorMessage"
            [helpText]="helpText"
            (valueChange)="field.setValue($event)"
            (focus)="onFocus()"
            (blur)="onBlur()">
        </app-date-picker>
      }
      @case ('radio') {
        <app-radio-button
            [label]="field.label"
            [required]="field.required()"
            [value]="field.value()"
            [options]="field.options()"
            [disabled]="field.disabled()"
            [invalid]="showInvalid"
            [errorMessage]="firstErrorMessage"
            [helpText]="helpText"
            (valueChange)="field.setValue($event)"
            (focus)="onFocus()"
            (blur)="onBlur()">
        </app-radio-button>
      }
      @case ('select-multi') {
        <app-select-multi
          [label]="field.label"
          [required]="field.required()"
          [value]="field.value()"
          [options]="field.options()"
          [placeholder]="selectConfig?.placeholder"
          [disabled]="field.disabled()"
          [invalid]="showInvalid"
          [errorMessage]="firstErrorMessage"
          [helpText]="helpText"
          (valueChange)="field.setValue($event)"
          (focus)="onFocus()"
          (blur)="onBlur()">
        </app-select-multi>
      }
      @case ('multi-select') {
        <app-select-multi
          [label]="field.label"
          [required]="field.required()"
          [value]="field.value()"
          [options]="field.options()"
          [placeholder]="selectConfig?.placeholder"
          [disabled]="field.disabled()"
          [invalid]="showInvalid"
          [errorMessage]="firstErrorMessage"
          [helpText]="helpText"
          (valueChange)="field.setValue($event)"
          (focus)="onFocus()"
          (blur)="onBlur()">
        </app-select-multi>
      }

      @case ('auto-complete') {
        <app-auto-complete
          [label]="field.label"
          [required]="field.required()"
          [value]="field.value()"
          [options]="field.options()"
          [disabled]="field.disabled()"
          [invalid]="showInvalid"
          [errorMessage]="firstErrorMessage"
          [placeholder]="autoCompleteConfig?.placeholder"
          [helpText]="helpText"
          (valueChange)="field.setValue($event)"
          (focus)="onFocus()"
          (blur)="onBlur()">
        </app-auto-complete>
      }
      @case ('autocomplete') {
        <app-auto-complete
          [label]="field.label"
          [required]="field.required()"
          [value]="field.value()"
          [options]="field.options()"
          [disabled]="field.disabled()"
          [invalid]="showInvalid"
          [errorMessage]="firstErrorMessage"
          [placeholder]="autoCompleteConfig?.placeholder"
          [helpText]="helpText"
          (valueChange)="field.setValue($event)"
          (focus)="onFocus()"
          (blur)="onBlur()">
        </app-auto-complete>
      }

      @case ('record') {
        <app-field-record-renderer [field]="field"></app-field-record-renderer>
      }

      @case ('input-multi') {
        <app-input-multi
          [label]="field.label"
          [required]="field.required()"
          [value]="field.value()"
          [options]="field.options()"
          [disabled]="field.disabled()"
          [invalid]="showInvalid"
          [errorMessage]="firstErrorMessage"
          [placeholder]="inputMultiConfig?.placeholder"
          [helpText]="helpText"
          (valueChange)="field.setValue($event)"
          (focus)="onFocus()"
          (blur)="onBlur()">
        </app-input-multi>
      }
      @case ('tags') {
        <app-input-multi
          [label]="field.label"
          [required]="field.required()"
          [value]="field.value()"
          [options]="field.options()"
          [disabled]="field.disabled()"
          [invalid]="showInvalid"
          [errorMessage]="firstErrorMessage"
          [placeholder]="inputMultiConfig?.placeholder"
          [helpText]="helpText"
          (valueChange)="field.setValue($event)"
          (focus)="onFocus()"
          (blur)="onBlur()">
        </app-input-multi>
      }

      @case ('secret-metadata') {
        <app-field-secret-metadata-renderer [field]="field"></app-field-secret-metadata-renderer>
      }

      @case ('color-picker') {
        <app-color-picker
          [label]="field.label"
          [required]="field.required()"
          [value]="field.value()"
          [disabled]="field.disabled()"
          [invalid]="showInvalid"
          [errorMessage]="firstErrorMessage"
          [helpText]="helpText"
          (valueChange)="field.setValue($event)"
          (focus)="onFocus()"
          (blur)="onBlur()">
        </app-color-picker>
      }

      @case ('textarea') {
        <app-input-area
          [invalid]="showInvalid"
          [errorMessage]="firstErrorMessage"
          [label]="field.label"
          [required]="field.required()"
          [placeholder]="textConfig?.placeholder"
          [value]="field.value()"
          [disabled]="field.disabled()"
          [helpText]="helpText"
          [rows]="resolvedTextRows"
          [maxRows]="resolvedTextMaxRows"
          [showZoomButton]="textConfig?.showZoomButton ?? false"
          [contentType]="resolvedTextContentType"
          (valueChange)="field.setValue($event)"
          (focus)="onFocus()"
          (blur)="onBlur()">
        </app-input-area>
      }
      @case ('json') {
        <app-json-field-block
          [field]="field"
          [textConfig]="textConfig"
          [submitted]="submitted"
        ></app-json-field-block>
      }
      @case ('code') {
        <app-json-field-block
          [field]="field"
          [textConfig]="textConfig"
          [submitted]="submitted"
        ></app-json-field-block>
      }
      @default {
        <app-alert
          variant="warning"
          message="shared.form.unsupportedFieldType"
        ></app-alert>
      }
    }
    }
  }
</div>
