<app-base-crud-page
  [pageConfig]="{
    title: pageTitle,
    description: pageDescription,
    actions: [
      { id: 'back', label: 'Back', icon: 'pi pi-arrow-left', goBack: true },
      { id: 'save', label: editId ? 'Update' : 'Create', icon: 'pi pi-save', submitForm: true, loading: loading }
    ]
  }"
  [formConfig]="formConfig"
  [formContext]="formContext"
  [formInitialValue]="formInitialValue"
  [formVisible]="formVisible()"
  [submitting]="loading"
  (valueChange)="onValueChange($event)"
  (formSubmit)="onSubmitForm($event)"
></app-base-crud-page>
