<div [class]="styleClass">
  @if (label) {
    <label [attr.for]="inputId" class="mb-2 block">{{ label | translateContent }}</label>
  }

  <p-tree-select
    [inputId]="inputId"
    [options]="options | translateContent"
    [placeholder]="(placeholder || '') | translateContent"
    [selectionMode]="selectionMode"
    [filter]="filter"
    [ngModel]="value"
    (ngModelChange)="onChange($event)"
    [disabled]="disabled"
    [invalid]="invalid"
    [fluid]="fluid"
    (onShow)="onFocus()"
    (onHide)="onBlur()"
  />
</div>

@if (helpText && !invalid) {
  <small [id]="inputId">{{ helpText | translateContent }}</small>
}

@if (invalid && errorMessage) {
  <p-message severity="error" size="small" variant="simple">{{ errorMessage | translateContent }}</p-message>
}
