<aside class="rule-expression-panel">
  <div class="rule-expression-panel__header">
    <div>
      <div class="rule-expression-section-title">{{ 'tradeBot.ruleExpression.nodeConfig' | translateContent }}</div>
      <div class="rule-expression-section-subtitle">{{ 'tradeBot.ruleExpression.nodeConfigSubtitle' | translateContent }}</div>
    </div>
  </div>

  @if (node; as selectedNode) {
    <div class="rule-expression-panel__body">
      <div class="rule-expression-panel__meta">
        <app-tag [value]="'tradeBot.ruleExpression.type.' + selectedNode.type" severity="info"></app-tag>
        @if (selectedNode.disabled) {
          <app-tag value="tradeBot.ruleExpression.disabled" severity="warn"></app-tag>
        }
      </div>

      <app-check-box
        label="tradeBot.ruleExpression.field.disabled"
        [value]="selectedNode.disabled === true"
        [disabled]="readonlyOrDisabled"
        (valueChange)="updateDisabled(selectedNode, $event)"
      ></app-check-box>

      @if (selectedNode.type === 'group') {
        <app-select
          label="tradeBot.ruleExpression.field.groupOperator"
          [options]="groupOperatorOptions"
          [value]="groupNode(selectedNode).operator"
          [disabled]="readonlyOrDisabled"
          (valueChange)="updateGroupOperator(groupNode(selectedNode), $event)"
        ></app-select>
      } @else if (selectedNode.type === 'condition') {
        <app-select
          label="tradeBot.ruleExpression.field.operator"
          [options]="operatorOptions"
          [value]="conditionNode(selectedNode).operator"
          [disabled]="readonlyOrDisabled"
          (valueChange)="updateConditionOperator(conditionNode(selectedNode), $event)"
        ></app-select>

        @for (slot of operandSlots(conditionNode(selectedNode)); track slot.index) {
          <app-rule-expression-operand-picker
            [label]="slot.label"
            [operand]="operandAt(conditionNode(selectedNode), slot.index)"
            [indicatorConfigs]="indicatorConfigs"
            [ruleConfigs]="ruleConfigs"
            [currentRuleId]="currentRuleId"
            [readonly]="readonly"
            [disabled]="disabled"
            (operandChange)="updateOperand(conditionNode(selectedNode), slot.index, $event)"
          ></app-rule-expression-operand-picker>
        }
      } @else if (selectedNode.type === 'ruleRef') {
        <app-select
          label="tradeBot.ruleExpression.field.ruleRef"
          [options]="ruleOptions()"
          [value]="ruleRefNode(selectedNode).ruleCode || null"
          [disabled]="readonlyOrDisabled"
          [showClear]="true"
          (valueChange)="updateRuleCode(ruleRefNode(selectedNode), $event)"
        ></app-select>

        <app-input-text
          label="tradeBot.ruleExpression.field.slotCode"
          [value]="ruleRefNode(selectedNode).slotCode || ''"
          [disabled]="readonlyOrDisabled"
          (valueChange)="updateSlotCode(ruleRefNode(selectedNode), $event)"
        ></app-input-text>

        <app-input-area
          label="tradeBot.ruleExpression.field.paramsJson"
          contentType="json"
          [rows]="5"
          [maxRows]="10"
          [showZoomButton]="true"
          [value]="paramsText(selectedNode)"
          [disabled]="readonlyOrDisabled"
          [invalid]="paramsJsonError() !== null"
          [errorMessage]="paramsJsonError() || undefined"
          (valueChange)="updateParams(selectedNode, $event)"
        ></app-input-area>
      } @else {
        <div class="rule-expression-panel__empty">{{ 'tradeBot.ruleExpression.notConfig' | translateContent }}</div>
      }

      @if (nodeIssues(selectedNode).length) {
        <div class="rule-expression-panel__issues">
          @for (issue of nodeIssues(selectedNode); track issue.message + issue.path) {
            <div
              class="rule-expression-issue"
              [class.rule-expression-issue--warning]="issue.severity === 'warning'"
            >
              {{ issue.message | translateContent }}
            </div>
          }
        </div>
      }

      <div class="rule-expression-panel__actions">
        <app-button
          icon="pi pi-copy"
          label="tradeBot.ruleExpression.action.duplicate"
          severity="secondary"
          [disabled]="readonlyOrDisabled"
          (buttonClick)="requestDuplicate(selectedNode)"
        ></app-button>
        <app-button
          icon="pi pi-trash"
          label="tradeBot.action.delete"
          severity="danger"
          [disabled]="readonlyOrDisabled"
          (buttonClick)="requestRemove(selectedNode)"
        ></app-button>
      </div>
    </div>
  } @else {
    <div class="rule-expression-panel__empty">{{ 'tradeBot.ruleExpression.selectNode' | translateContent }}</div>
  }
</aside>

