<app-flow-builder
  [value]="flowDefinition()"
  [mode]="flowMode()"
  [readonly]="flowReadonly()"
  [nodeTypes]="nodeTypes"
  [toolbar]="{ visible: false }"
  [inspector]="{ visible: false }"
  [palette]="paletteConfig()"
  [capabilities]="flowCapabilities()"
  [validationIssues]="validationIssues"
  [selectedId]="selectedId"
  [autoLayout]="false"
  [fitOnLoad]="true"
  (valueChange)="onFlowDefinitionChange($event)"
  (nodeClick)="onNodeClick($event)"
  (edgeClick)="onEdgeClick($event)"
  (blankClick)="onBlankClick()"
  (nodeChange)="onNodeChange($event)"
  (connect)="onConnect($event)"
  (viewportChange)="onFlowViewportChange($event)"
/>
