<app-base-crud-page
  [pageConfig]="{
    title: 'tradeBot.backtest.run.title',
    description: 'tradeBot.backtest.run.description',
    actions: [
      { id: 'back', label: 'tradeBot.back', icon: 'pi pi-arrow-left', buttonClass: 'p-button-text', goBack: true },
      { id: 'submit', label: 'tradeBot.backtest.run.action', icon: 'pi pi-play', loading: loading, submitForm: true }
    ],
    infoSection: {
      title: 'tradeBot.backtest.run.infoTitle',
      description: 'tradeBot.backtest.run.infoDescription'
    }
  }"
  [formConfig]="formConfig"
  [formContext]="formContext"
  [formInitialValue]="formInitialValue"
  [formVisible]="formVisible()"
  [submitting]="loading"
  (formSubmit)="onSubmitForm($event)"
></app-base-crud-page>
