@if (config) {
  <form class="workflow-bpmn-drawer" aria-label="BPMN properties configuration">
    <section class="workflow-bpmn-drawer__section">
      <h3>{{ 'workflowStudio.inspector.section.general' | translateContent }}</h3>
      <app-input-text
        label="workflowStudio.bpmn.drawer.id"
        [value]="config.id"
        [readonly]="true"
      ></app-input-text>
      <app-input-text
        label="workflowStudio.inspector.type"
        [value]="config.type"
        [readonly]="true"
      ></app-input-text>
      <app-input-text
        label="workflowStudio.bpmn.drawer.name"
        [value]="name"
        [readonly]="readonly"
        (valueChange)="updateName($event)"
      ></app-input-text>
    </section>

    @if (isServiceTask()) {
      <section class="workflow-bpmn-drawer__section">
        <h3>{{ 'workflowStudio.bpmn.drawer.serviceTask' | translateContent }}</h3>
        <app-select
          label="workflowStudio.bpmn.drawer.preset"
          [options]="serviceTaskPresets"
          [value]="preset"
          [disabled]="readonly"
          (valueChange)="updatePreset($event)"
        ></app-select>
        <app-input-text
          label="workflowStudio.bpmn.drawer.topic"
          [value]="flowableTopic"
          [readonly]="readonly"
          (valueChange)="updateTopic($event)"
        ></app-input-text>
        <app-input-area
          label="workflowStudio.bpmn.drawer.taskConfigJson"
          contentType="json"
          [rows]="5"
          [maxRows]="12"
          [value]="taskConfigJson"
          [readonly]="readonly"
          [invalid]="!!jsonError"
          [errorMessage]="jsonError ?? undefined"
          (valueChange)="updateTaskConfigJson($event)"
        ></app-input-area>
      </section>
    }

    @if (isSequenceFlow()) {
      <section class="workflow-bpmn-drawer__section">
        <h3>{{ 'workflowStudio.bpmn.drawer.condition' | translateContent }}</h3>
        <app-input-area
          label="workflowStudio.bpmn.drawer.expression"
          [rows]="3"
          [maxRows]="6"
          [value]="conditionExpression"
          [readonly]="readonly"
          (valueChange)="updateConditionExpression($event)"
        ></app-input-area>
        <app-toggle-switch
          label="workflowStudio.bpmn.drawer.defaultFlow"
          [value]="defaultFlow"
          [disabled]="readonly"
          (valueChange)="updateDefaultFlow($event)"
        ></app-toggle-switch>
      </section>
    }

    @if (hasTimer()) {
      <section class="workflow-bpmn-drawer__section">
        <h3>{{ 'workflowStudio.bpmn.drawer.timer' | translateContent }}</h3>
        <app-select
          label="workflowStudio.bpmn.drawer.timerKind"
          [options]="timerKindOptions"
          [value]="timerKind"
          [disabled]="readonly"
          (valueChange)="updateTimerKind($event)"
        ></app-select>
        <app-input-text
          label="workflowStudio.bpmn.drawer.timerExpression"
          [value]="timerExpression"
          [readonly]="readonly"
          (valueChange)="updateTimerExpression($event)"
        ></app-input-text>
      </section>
    }

    @if (hasMessage()) {
      <section class="workflow-bpmn-drawer__section">
        <h3>{{ 'workflowStudio.bpmn.drawer.message' | translateContent }}</h3>
        <app-input-text
          label="workflowStudio.bpmn.drawer.messageRef"
          [value]="messageRef"
          [readonly]="readonly"
          (valueChange)="updateMessageRef($event)"
        ></app-input-text>
        <app-input-text
          label="workflowStudio.bpmn.drawer.messageName"
          [value]="messageName"
          [readonly]="readonly"
          (valueChange)="updateMessageName($event)"
        ></app-input-text>
      </section>
    }

    @if (hasError()) {
      <section class="workflow-bpmn-drawer__section">
        <h3>{{ 'workflowStudio.bpmn.drawer.error' | translateContent }}</h3>
        <app-input-text
          label="workflowStudio.bpmn.drawer.errorRef"
          [value]="errorRef"
          [readonly]="readonly"
          (valueChange)="updateErrorRef($event)"
        ></app-input-text>
        <app-input-text
          label="workflowStudio.bpmn.drawer.errorName"
          [value]="errorName"
          [readonly]="readonly"
          (valueChange)="updateErrorName($event)"
        ></app-input-text>
      </section>
    }

    @if (isCallActivity()) {
      <section class="workflow-bpmn-drawer__section">
        <h3>{{ 'workflowStudio.bpmn.drawer.callActivity' | translateContent }}</h3>
        <app-input-text
          label="workflowStudio.bpmn.drawer.calledElement"
          [value]="calledElement"
          [readonly]="readonly"
          (valueChange)="updateCalledElement($event)"
        ></app-input-text>
      </section>
    }

    @if (isSubProcess()) {
      <section class="workflow-bpmn-drawer__section">
        <h3>{{ 'workflowStudio.bpmn.drawer.subprocess' | translateContent }}</h3>
        <app-toggle-switch
          label="workflowStudio.bpmn.drawer.triggeredByEvent"
          [value]="triggeredByEvent"
          [disabled]="readonly"
          (valueChange)="updateTriggeredByEvent($event)"
        ></app-toggle-switch>
      </section>
    }

    @if (!isCustomConfigurable()) {
      <p class="workflow-bpmn-drawer__unsupported-text">
        {{ 'workflowStudio.bpmn.drawer.unsupported' | translateContent }}
      </p>
    }
  </form>
}
