@if (node) {
  <form class="workflow-bpmn-drawer" aria-label="BPMN task configuration">
    <section class="workflow-bpmn-drawer__section">
      <h3>{{ 'workflowStudio.inspector.section.general' | translateContent }}</h3>
      <app-input-text
        label="workflowStudio.bpmn.drawer.name"
        [value]="name"
        [readonly]="readonly"
        (valueChange)="updateName($event)"
      ></app-input-text>
      <app-input-text
        label="workflowStudio.inspector.type"
        [value]="node.type"
        [readonly]="true"
      ></app-input-text>
    </section>

    <section class="workflow-bpmn-drawer__section">
      <h3>{{ 'workflowStudio.inspector.section.input' | translateContent }}</h3>
      <app-input-area
        label="workflowStudio.inspector.inputMapping"
        contentType="json"
        [rows]="4"
        [maxRows]="10"
        [value]="inputMapping"
        [readonly]="readonly"
        [invalid]="!!jsonError"
        [errorMessage]="jsonError ?? undefined"
        (valueChange)="updateInputMapping($event)"
      ></app-input-area>
    </section>

    <section class="workflow-bpmn-drawer__section">
      <h3>{{ 'workflowStudio.inspector.section.configuration' | translateContent }}</h3>
      <app-input-area
        label="workflowStudio.inspector.config"
        contentType="json"
        [rows]="5"
        [maxRows]="12"
        [value]="config"
        [readonly]="readonly"
        [invalid]="!!jsonError"
        [errorMessage]="jsonError ?? undefined"
        (valueChange)="updateConfig($event)"
      ></app-input-area>
    </section>

    <section class="workflow-bpmn-drawer__section">
      <h3>{{ 'workflowStudio.inspector.section.output' | translateContent }}</h3>
      <app-input-area
        label="workflowStudio.bpmn.drawer.outputMapping"
        contentType="json"
        [rows]="4"
        [maxRows]="10"
        [value]="outputMapping"
        [readonly]="readonly"
        [invalid]="!!jsonError"
        [errorMessage]="jsonError ?? undefined"
        (valueChange)="updateOutputMapping($event)"
      ></app-input-area>
    </section>

    <section class="workflow-bpmn-drawer__section workflow-bpmn-drawer__section--grid">
      <h3>{{ 'workflowStudio.bpmn.drawer.retry' | translateContent }}</h3>
      <app-input-number
        label="workflowStudio.inspector.maxAttempts"
        [value]="maxAttempts"
        [min]="1"
        [readonly]="readonly"
        (valueChange)="updateMaxAttempts($event)"
      ></app-input-number>
    </section>

    <section class="workflow-bpmn-drawer__section workflow-bpmn-drawer__section--grid">
      <h3>{{ 'workflowStudio.bpmn.drawer.timeout' | translateContent }}</h3>
      <app-input-number
        label="workflowStudio.inspector.timeoutSeconds"
        [value]="timeoutSeconds"
        [min]="1"
        [readonly]="readonly"
        (valueChange)="updateTimeoutSeconds($event)"
      ></app-input-number>
    </section>
  </form>
}
