@if (field.visible()) {
  @if (readonlyMode) {
    <app-readonly-section [field]="field"></app-readonly-section>
  } @else {
  <app-section-panel
    [title]="field.label || 'general'"
    [collapsible]="field.fieldConfig.collapsible ?? false"
    [collapsed]="field.fieldConfig.collapsed ?? false"
    [variant]="field.fieldConfig.variant ?? 'default'"
    [density]="field.fieldConfig.density ?? 'compact'"
  >
    <div class="grid grid-cols-12 gap-4">
      @for (f of field.children; track $index) {
        @if (isArrayField(f)) {
          <app-field-array-renderer class="w-full h-full" [ngClass]="getCol(f.width)" [field]="f" [submitted]="submitted" [readonlyMode]="readonlyMode"></app-field-array-renderer>
        } @else if (isTreeField(f)) {
          <app-field-tree-renderer class="w-full h-full" [ngClass]="getCol(f.width)" [field]="f" [submitted]="submitted" [readonlyMode]="readonlyMode"></app-field-tree-renderer>
        } @else {
          <app-field-renderer class="w-full h-full" [ngClass]="getCol(f.width)" [field]="f" [submitted]="submitted" [readonlyMode]="readonlyMode"></app-field-renderer>
        }
      }
    </div>
  </app-section-panel>
  }
}
