<div [class]="styleClass">
  @if (label) {
    <label [attr.for]="inputId" class="mb-2 block">{{ label | appTranslate }}</label>
  }

  <p-togglebutton
    [inputId]="inputId"
    [onLabel]="(onLabel | appTranslate)"
    [offLabel]="(offLabel | appTranslate)"
    [onIcon]="onIcon"
    [offIcon]="offIcon"
    [ngModel]="value"
    (ngModelChange)="onChange($event)"
    [disabled]="disabled"
    [invalid]="invalid"
    (onBlur)="onBlur()"
    (onFocus)="onFocus()"
  />
</div>

@if (helpText && !invalid) {
  <small [id]="inputId">{{ helpText | appTranslate }}</small>
}

@if (invalid && errorMessage) {
  <p-message severity="error" size="small" variant="simple">{{ errorMessage | appTranslate }}</p-message>
}
