.sidebar {
  width: 260px;
  height: 100%;
  background: #0f172a;
  color: white;
  padding: 16px;
}

:host ::ng-deep .sidebar .p-menu {
  background: transparent;
  border: none;
}

:host ::ng-deep .sidebar .p-menu-item-link,
:host ::ng-deep .sidebar .p-submenu-header {
  color: #e2e8f0;
}

:host ::ng-deep .sidebar .p-menu-item-link-active,
:host ::ng-deep .sidebar .p-menu-item-link:hover {
  background: #1e293b;
  color: #ffffff;
}
