.sidebar {
  width: 280px;
  height: 100%;
  padding: 16px;
  border-right: 1px solid;
}

.card {
  background: transparent;
}

:host ::ng-deep .sidebar .p-panelmenu {
  border: none;
  background: transparent;
}

:host ::ng-deep .sidebar .p-panelmenu-panel,
:host ::ng-deep .sidebar .p-panelmenu-header,
:host ::ng-deep .sidebar .p-panelmenu-content {
  background: transparent;
  border-color: var(--app-border);
}

.menu-link {
  color: inherit;
  text-decoration: none;
}
