@if (field.visible()) {

  <label>{{ field.path }}</label>

  @if (field.type == 'text') {

    <app-input-text
      [label]="field.label"
      [value]="field.value()"
      [disabled]="field.disabled()"
      (input)="field.setValue($any($event.target).value)"
      (blur)="field.markAsTouched()" />

  }@else if (field.type == 'number') {

    <app-input-number
      [value]="field.value()"
      [disabled]="field.disabled()"
      (input)="field.setValue($any($event.target).value)"
      (blur)="field.markAsTouched()" />

  } @else {

    <app-select
      [value]="field.value()"
      [disabled]="field.disabled()"
      (change)="field.setValue($any($event.target).value)">

      @for (opt of field.options(); track opt.value) {
        <option [value]="opt.value">
          {{ opt.label }}
        </option>
      }

    </app-select>

  }

  @if (field.touched() && field.errors()) {
    <div>
      {{ field.errors()?.['custom'] }}
    </div>
  }

}
