  <p-floatLabel [variant]="variant">
    <p-inputNumber
      [inputId]="inputId"
      [size]="size"
      [(ngModel)]="value"
      (ngModelChange)="valueChange.emit($event)"
      [disabled]="disabled"
      [attr.placeholder]="placeholder || null"
      [attr.mode]="mode"
      [attr.currency]="currency"
      [showClear]="showClear"
      [attr.minFractionDigits]="minFractionDigits"
      [attr.maxFractionDigits]="maxFractionDigits"
      currencyDisplay="code"
      locale="en-IN"
      [invalid]="invalid"
      autocomplete="off"
      [style]="{ width: fluid ? '100%' : 'auto' }"
      (onBlur)="blur.emit()"
      (onFocus)="focus.emit()"
    />
    <label [attr.for]="inputId">{{label}}</label>
  </p-floatLabel>

  @if (helpText && !invalid) {
    <small [id]="inputId">
      {{ helpText }}
    </small>
  }

  @if (invalid && errorMessage) {
    <p-message 
      severity="error" 
      size="small" 
      variant="simple">{{ errorMessage }}
    </p-message>
  }
