<p-floatlabel [variant]="variant">
  <p-inputNumber
    [inputId]="inputId"
    [size]="size"
    [ngModel]="value"
    (ngModelChange)="onChange($event)"
    [disabled]="disabled"
    [readonly]="readonly"
    [required]="required"
    [autofocus]="autofocus"
    [placeholder]="(placeholder | appTranslate) || ''"
    [mode]="mode"
    [currency]="currency"
    [showClear]="showClear"
    [min]="min"
    [max]="max"
    [minFractionDigits]="minFractionDigits"
    [maxFractionDigits]="maxFractionDigits"
    currencyDisplay="code"
    locale="en-IN"
    [invalid]="invalid"
    autocomplete="off"
    [style]="{ width: fluid ? '100%' : 'auto' }"
    [styleClass]="styleClass"
    (onBlur)="onBlur()"
    (onFocus)="onFocus()"
  />
  <label [attr.for]="inputId">{{ label | appTranslate }}</label>
</p-floatlabel>

@if (helpText && !invalid) {
  <small [id]="inputId">{{ helpText | appTranslate }}</small>
}

@if (invalid && errorMessage) {
  <p-message severity="error" size="small" variant="simple">{{ errorMessage | appTranslate }}</p-message>
}
