<app-base-crud-page
  [pageConfig]="pageConfig"
  [formConfig]="formConfig"
  [formContext]="formContext"
  [formInitialValue]="formInitialValue"
  [submitting]="submitting()"
  (valueChange)="onValueChange($event)"
  (formSubmit)="submit($event)"
>
  <app-rule-expression-builder
    crud-page-before-form
    [value]="ruleExpressionValue()"
    [indicatorConfigs]="indicatorConfigs"
    [ruleConfigs]="ruleConfigs"
    [currentRuleCode]="currentRuleCode()"
    [currentRuleId]="id"
    [disabled]="submitting()"
    (valueChange)="onRuleExpressionValueChange($event)"
    (validationChange)="onRuleExpressionValidationChange($event)"
  ></app-rule-expression-builder>
</app-base-crud-page>
