<button
  [type]="type"
  [disabled]="disabled || loading"
  [attr.aria-label]="(ariaLabel || tooltip || label || null) | translateContent"
  [attr.title]="(tooltip || null) | translateContent"
  [routerLink]="routerLink"
  [queryParams]="queryParams"
  class="app-btn"
  [ngClass]="[computedClass, styleClass || '']"
  (click)="buttonClick.emit()"
>
  @if (loading) {
    <i class="pi pi-spinner pi-spin"></i>
  } @else if (icon) {
    <i [class]="icon"></i>
  }
  @if (label) {
    <span>{{ label | translateContent }}</span>
  }
</button>
