<app-base-crud-page
  [pageConfig]="{
    title: (editId ? 'mcpCategory.editTitle' : 'mcpCategory.createTitle'),
    description: 'mcpCategory.form.description',
    actions: [
      { id: 'back', label: 'tradeBot.back', icon: 'pi pi-arrow-left', buttonClass: 'p-button-text', goBack: true },
      { id: 'submit', label: 'submit', icon: 'pi pi-save', loading: loading, submitForm: true }
    ],
    infoSection: {
      title: 'mcpCategory.form.infoTitle',
      description: 'mcpCategory.form.infoDescription'
    }
  }"
  [formConfig]="formConfig"
  [formContext]="formContext"
  [formInitialValue]="formInitialValue"
  [formVisible]="formVisible()"
  [submitting]="loading"
  (formSubmit)="onSubmitForm($event)"
></app-base-crud-page>
