<div class="inline-field" [class]="styleClass">
  <p-checkbox
    [inputId]="inputId"
    [invalid]="invalid"
    [binary]="true"
    [ngModel]="value"
    (ngModelChange)="onChange($event)"
    (onBlur)="onBlur()"
    (onFocus)="onFocus()"
    [disabled]="disabled || readonly"
    [required]="required"
  />
  <label [attr.for]="inputId">{{ label | translateContent }}</label>
</div>

@if (helpText && !invalid) {
  <small [id]="inputId">{{ helpText | translateContent }}</small>
}

@if (invalid && errorMessage) {
  <p-message severity="error" size="small" variant="simple">{{ errorMessage | translateContent }}</p-message>
}
