<div class="field-block" [class.field-block--invalid]="invalid">
  @if (label || description) {
    <div class="field-block__header">
      @if (label) {
        <div class="field-block__label-row">
          <label [attr.for]="inputId">
            {{ label | translateContent }}
            @if (required) {
              <span class="field-block__required" aria-hidden="true">*</span>
            } @else if (optional) {
              <span class="field-block__optional">({{ 'common.optional' | translateContent }})</span>
            }
          </label>
        </div>
      }
      @if (description) {
        <p [id]="inputId ? inputId + '-description' : null" class="field-block__description">
          {{ description | translateContent }}
        </p>
      }
    </div>
  }

  <div class="field-block__control">
    <ng-content></ng-content>
  </div>

  @if (invalid && errorMessage) {
    <p [id]="inputId ? inputId + '-error' : null" class="field-block__error" role="alert">
      {{ errorMessage | translateContent }}
    </p>
  } @else if (resolvedHint) {
    <p [id]="inputId ? inputId + '-hint' : null" class="field-block__hint">
      {{ resolvedHint | translateContent }}
    </p>
  }
</div>
