<p-floatlabel [variant]="variant">

  <p-datepicker
  class="w-full"
  [id]="inputId"
  [showIcon]="showIcon"
  [showClear]="true"
  [attr.placeholder]="placeholder"
  [dateFormat]="dateFormat"
  [invalid]="invalid"
  [(ngModel)]="value"
  (ngModelChange)="valueChange.emit($event)"
  (onBlur)="blur.emit()"
  (onFocus)="focus.emit()"
  />
  <label [attr.for]="inputId">
    {{label}}
  </label>
</p-floatlabel>


@if (helpText && !invalid) {
  <small [id]="inputId">
    {{ helpText }}
  </small>
}

@if (invalid && errorMessage) {
  <p-message 
    severity="error" 
    size="small" 
    variant="simple">{{ errorMessage }}
  </p-message>
}