<p-floatlabel [variant]="variant">
  @if (iconClass) {
    <p-iconfield class="w-full">
      <p-inputicon [class]="iconClass"></p-inputicon>
      <p-datepicker
        class="w-full"
        [inputId]="inputId"
        appendTo="body"
        [showIcon]="showIcon"
        [showClear]="true"
        [showTime]="showTime"
        [hourFormat]="hourFormat"
        [selectionMode]="selectionMode"
        [placeholder]="(placeholder || '') | translateContent"
        [dateFormat]="dateFormat"
        [invalid]="invalid"
        [ngModel]="value"
        (ngModelChange)="onChange($event)"
        [disabled]="disabled"
        [readonlyInput]="readonly"
        [required]="required"
        [styleClass]="styleClass"
        (onBlur)="onBlur()"
        (onFocus)="onFocus()"
      />
    </p-iconfield>
  } @else {
    <p-datepicker
      class="w-full"
      [inputId]="inputId"
      appendTo="body"
      [showIcon]="showIcon"
      [showClear]="true"
      [showTime]="showTime"
      [hourFormat]="hourFormat"
      [selectionMode]="selectionMode"
      [placeholder]="(placeholder || '') | translateContent"
      [dateFormat]="dateFormat"
      [invalid]="invalid"
      [ngModel]="value"
      (ngModelChange)="onChange($event)"
      [disabled]="disabled"
      [readonlyInput]="readonly"
      [required]="required"
      [styleClass]="styleClass"
      (onBlur)="onBlur()"
      (onFocus)="onFocus()"
    />
  }
  <label [attr.for]="inputId">{{ label | translateContent }}</label>
</p-floatlabel>

@if (helpText && !invalid) {
  <small [id]="inputId + '-help'" class="app-text-soft">{{ helpText | translateContent }}</small>
}

@if (invalid && errorMessage) {
  <p-message severity="error" size="small" variant="simple">{{ errorMessage | translateContent }}</p-message>
}
