<p-floatlabel [variant]="variant">
  <p-auto-complete
    [inputId]="inputId"
    [multiple]="true"
    [suggestions]="suggestions"
    optionLabel="label"
    optionValue="value"
    [ngModel]="selectedOptions"
    (ngModelChange)="onModelChange($event)"
    [disabled]="disabled"
    [required]="required"
    [forceSelection]="false"
    [typeahead]="enableTypeahead"
    [addOnBlur]="false"
    [addOnTab]="false"
    [separator]="','"
    [fluid]="fluid"
    [placeholder]="(placeholder || '') | translateContent"
    [invalid]="invalid"
    [styleClass]="styleClass"
    (completeMethod)="onSearch($any($event.query || ''))"
    (onInputKeydown)="onInputKeydown($event)"
    (onSelect)="onSelectItem($event)"
    (onUnselect)="onUnselectItem($event)"
    (onFocus)="onFocus()"
    (onBlur)="onBlur()">
  </p-auto-complete>
  <label [attr.for]="inputId">{{ label | translateContent }}</label>
</p-floatlabel>

@if (helpText && !invalid) {
  <small [id]="inputId">{{ helpText | translateContent }}</small>
}

@if (invalid && errorMessage) {
  <p-message severity="error" size="small" variant="simple">{{ errorMessage | translateContent }}</p-message>
}
