<p-floatlabel [variant]="variant">
  @if (iconClass) {
    <p-iconfield [style.width.%]="fluid ? 100 : null">
      <p-inputicon [class]="iconClass"></p-inputicon>
      <p-password
        [inputId]="inputId"
        [placeholder]="(placeholder || '') | translateContent"
        [feedback]="feedback"
        [toggleMask]="toggleMask"
        [promptLabel]="promptLabel | translateContent"
        [weakLabel]="weakLabel | translateContent"
        [mediumLabel]="mediumLabel | translateContent"
        [strongLabel]="strongLabel | translateContent"
        [ngModel]="value"
        (ngModelChange)="onChange($event)"
        [disabled]="disabled"
        [invalid]="invalid"
        [required]="required"
        [attr.autofocus]="autofocus ? true : null"
        [fluid]="fluid"
        [styleClass]="styleClass"
        (onBlur)="onBlur()"
        (onFocus)="onFocus()"
      />
    </p-iconfield>
  } @else {
    <p-password
      [inputId]="inputId"
      [placeholder]="(placeholder || '') | translateContent"
      [feedback]="feedback"
      [toggleMask]="toggleMask"
      [promptLabel]="promptLabel | translateContent"
      [weakLabel]="weakLabel | translateContent"
      [mediumLabel]="mediumLabel | translateContent"
      [strongLabel]="strongLabel | translateContent"
      [ngModel]="value"
      (ngModelChange)="onChange($event)"
      [disabled]="disabled"
      [invalid]="invalid"
      [required]="required"
      [attr.autofocus]="autofocus ? true : null"
      [fluid]="fluid"
      [styleClass]="styleClass"
      (onBlur)="onBlur()"
      (onFocus)="onFocus()"
    />
  }
  <label [attr.for]="inputId">{{ label | translateContent }}</label>
</p-floatlabel>

@if (helpText && !invalid) {
  <small [id]="inputId">{{ helpText | translateContent }}</small>
}

@if (invalid && errorMessage) {
  <p-message severity="error" size="small" variant="simple">{{ errorMessage | translateContent }}</p-message>
}
