<p-floatlabel [variant]="variant">
  <p-password
    [inputId]="inputId"
    [placeholder]="(placeholder | appTranslate) || ''"
    [feedback]="feedback"
    [toggleMask]="toggleMask"
    [promptLabel]="(promptLabel | appTranslate)"
    [weakLabel]="(weakLabel | appTranslate)"
    [mediumLabel]="(mediumLabel | appTranslate)"
    [strongLabel]="(strongLabel | appTranslate)"
    [ngModel]="value"
    (ngModelChange)="onChange($event)"
    [disabled]="disabled"
    [invalid]="invalid"
    [required]="required"
    [attr.autofocus]="autofocus ? true : null"
    [fluid]="fluid"
    [styleClass]="styleClass"
    (onBlur)="onBlur()"
    (onFocus)="onFocus()"
  />
  <label [attr.for]="inputId">{{ label | appTranslate }}</label>
</p-floatlabel>

@if (helpText && !invalid) {
  <small [id]="inputId">{{ helpText | appTranslate }}</small>
}

@if (invalid && errorMessage) {
  <p-message severity="error" size="small" variant="simple">{{ errorMessage | appTranslate }}</p-message>
}
