<p-toast />

<p-toolbar styleClass="mb-4 gap-2 table-toolbar">
  <ng-template pTemplate="left">
    <h5 class="m-0">{{ config.title ?? 'Data Table' }}</h5>
  </ng-template>

  <ng-template pTemplate="right">
    @if ((config.filters ?? []).length > 0) {
      <app-table-filter
        [fields]="config.filters ?? []"
        [loading]="loading"
        (search)="onSearch($event)"
        (reset)="onResetFilter()"
      ></app-table-filter>
    }
  </ng-template>
</p-toolbar>

<p-table
  [value]="data"
  [rows]="config.rows ?? 10"
  [paginator]="config.pagination ?? true"
  [rowsPerPageOptions]="config.rowsPerPageOptions ?? [10,20,50]"
  [loading]="loading"
  [tableStyle]="{ 'min-width': '75rem' }"
  [rowHover]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="header">
    <tr>
      @for (col of config.columns; track col.field) {
        <th [pSortableColumn]="col.sortable ? col.field : undefined">
          {{ col.header }}
          @if (col.sortable) {
            <p-sortIcon [field]="col.field"></p-sortIcon>
          }
        </th>
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row>
    <tr>
      @for (col of config.columns; track col.field) {
        <td>
          <app-table-cell [column]="col" [rowData]="row"></app-table-cell>
        </td>
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="config.columns.length" class="text-center">
        No data found
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary">
    <div class="table-summary">
      In total there are {{ data.length }} records.
    </div>
  </ng-template>
</p-table>
