:host {
  display: block;
}

.table-toolbar :where(.p-toolbar-start, .p-toolbar-end) {
  width: 100%;
}

.table-caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.table-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
