<p-toast />

<p-toolbar styleClass="mb-4 gap-2 table-toolbar">
  <ng-template pTemplate="left">
    @if (isButtonVisible(newButtonConfig)) {
      <app-button
        [severity]="newButtonConfig.severity ?? 'success'"
        [label]="newButtonConfig.label ?? 'NEW'"
        [icon]="newButtonConfig.icon ?? 'pi pi-plus'"
        styleClass="mr-2"
        [disabled]="newButtonConfig.disabled ?? false"
        (buttonClick)="onCreate()"
      />
    }

    @if (isButtonVisible(deleteButtonConfig)) {
      <app-button
        [severity]="deleteButtonConfig.severity ?? 'danger'"
        [label]="deleteButtonConfig.label ?? 'DELETE'"
        [icon]="deleteButtonConfig.icon ?? 'pi pi-trash'"
        [disabled]="deleteButtonConfig.disabled ?? false"
        (buttonClick)="onDelete()"
      />
    }
  </ng-template>

  <ng-template pTemplate="right">
    @if (isButtonVisible(importButtonConfig)) {
      <p-fileUpload
        mode="basic"
        [accept]="importButtonConfig.accept ?? '*/*'"
        [maxFileSize]="importButtonConfig.maxFileSize ?? 1000000"
        [chooseLabel]="importButtonConfig.chooseLabel ?? importButtonConfig.label ?? 'IMPORT'"
        class="mr-2 inline-block"
        [customUpload]="true"
        [auto]="true"
        (uploadHandler)="onImport($event.files[0])"
      />
    }

    @if (isButtonVisible(exportButtonConfig)) {
      <app-button
        [severity]="exportButtonConfig.severity ?? 'help'"
        [label]="exportButtonConfig.label ?? 'EXPORT'"
        [icon]="exportButtonConfig.icon ?? 'pi pi-upload'"
        [disabled]="exportButtonConfig.disabled ?? false"
        (buttonClick)="onExport()"
      />
    }
  </ng-template>
</p-toolbar>

<p-table
  [value]="data"
  [rows]="config.rows ?? 10"
  [paginator]="config.pagination ?? true"
  [rowsPerPageOptions]="config.rowsPerPageOptions ?? [10,20,50]"
  [loading]="loading"
  [tableStyle]="{ 'min-width': '75rem' }"
  [rowHover]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="caption">
    <div class="table-caption">
      <h5 class="m-0">{{ config.title ?? 'Data Table' }}</h5>

      @if ((config.filters ?? []).length > 0) {
        <app-table-filter
          [fields]="config.filters ?? []"
          [loading]="loading"
          (search)="onSearch($event)"
          (reset)="onResetFilter()"
        ></app-table-filter>
      }
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      @for (col of config.columns; track col.field) {
        <th [pSortableColumn]="col.sortable ? col.field : undefined">
          {{ col.header }}
          @if (col.sortable) {
            <p-sortIcon [field]="col.field"></p-sortIcon>
          }
        </th>
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row>
    <tr>
      @for (col of config.columns; track col.field) {
        <td>
          <app-table-cell [column]="col" [rowData]="row"></app-table-cell>
        </td>
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="config.columns.length" class="text-center">
        No data found
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary">
    <div class="table-summary">
      In total there are {{ data.length }} records.
    </div>
  </ng-template>
</p-table>
