@import "tailwindcss";
@import "tailwindcss-primeui";

/* báº­t dark variant */
@custom-variant dark (&:where(.dark, .dark *));

/* ====== DEFINE THEME TOKENS ====== */
@theme {
  --color-base: #f3f4f6;        /* light */
  --color-base-foreground: #111827;
}

/* ====== DARK OVERRIDE ====== */
.dark {
  --color-base: #111827;
  --color-base-foreground: #f9fafb;
}

