@if (field.visible()) {

  <div class="col-span-12">

    <div class="flex justify-between mb-4">
      <label class="font-semibold text-lg">
        {{ field.label }}
      </label>

      <button
        type="button"
        (click)="addItem()"
        class="px-3 py-1 bg-blue-600 text-white rounded">
        + Thêm
      </button>
    </div>

    @for (item of field.value(); track $index; let i = $index) {

      <div class="border p-4 rounded mb-4 bg-gray-50">

        <div class="flex justify-end mb-2">
          <button
            type="button"
            (click)="removeItem(i)"
            class="text-red-600 text-sm">
            Xóa
          </button>
        </div>

        <div class="grid grid-cols-12 gap-4">

          @for (child of field.children()[i]; track child.path) {
            <app-field-renderer
              class="w-full h-full"
              [ngClass]="getCol(child.width)"
              [field]="child">
            </app-field-renderer>

          }

        </div>

      </div>

    }

  </div>

}
