<app-panel [title]="TEXT.RiskReward" [description]="TEXT.RiskRewardDesc">
  <div class="grid grid-cols-12 gap-4" [formGroup]="form">
    <div class="col-span-12 md:col-span-4">
      <app-select [label]="TEXT.EntryMode" [options]="entryModeOptions" formControlName="entryMode"></app-select>
    </div>
    <div class="col-span-12 md:col-span-4">
      <app-select [label]="TEXT.StopLossMode" [options]="slModeOptions" formControlName="slMode"></app-select>
    </div>
    <div class="col-span-12 md:col-span-4">
      <app-input-number [label]="TEXT.TakeProfitRr" [min]="0.1" [step]="0.1" formControlName="tpRr"></app-input-number>
    </div>

    <div class="col-span-12 md:col-span-6">
      <app-input-number [label]="TEXT.MaxTradesPerDay" [min]="1" [step]="1" formControlName="maxTradesPerDay"></app-input-number>
    </div>
    <div class="col-span-12 md:col-span-6">
      <app-select [label]="TEXT.StrategyValidity" [options]="validityOptions" formControlName="strategyValidity"></app-select>
    </div>
  </div>
</app-panel>
