<app-panel [title]="TEXT.GeneralInformation" [description]="TEXT.GeneralInformationDesc">
  <app-tag panel-actions [value]="form.controls.strategyServiceName.getRawValue()" severity="contrast"></app-tag>
  <div class="grid grid-cols-12 gap-4" [formGroup]="form">
    <div class="col-span-12 md:col-span-6">
      <app-input-text [label]="TEXT.BindingName" formControlName="name"></app-input-text>
      @if (form.controls.name.touched && form.controls.name.invalid) {
        <small class="app-text-danger">
          {{ TEXT.BindingName | translateContent }} {{ 'tradeBot.validation.requiredSuffix' | translateContent }}
        </small>
      }
    </div>
    <div class="col-span-12 md:col-span-3">
      <app-input-text [label]="TEXT.StrategyCode" formControlName="strategyServiceName" [readonly]="true"></app-input-text>
    </div>
    <div class="col-span-12 md:col-span-3">
      <app-input-text [label]="TEXT.StrategyName" formControlName="strategyName" [readonly]="true"></app-input-text>
    </div>

    <div class="col-span-12 md:col-span-4">
      <app-select [label]="TEXT.Exchange" [options]="exchangeOptions" formControlName="exchangeId"></app-select>
    </div>
    <div class="col-span-12 md:col-span-4">
      <app-select [label]="TEXT.Symbol" [options]="symbolOptions" formControlName="symbolId"></app-select>
    </div>
    <div class="col-span-12 md:col-span-4">
      <app-select [label]="TEXT.MarketType" [options]="marketTypeOptions" formControlName="marketType"></app-select>
    </div>

    <div class="col-span-12 md:col-span-4">
      <app-select [label]="TEXT.TradeSideMode" [options]="tradeSideModeOptions" formControlName="tradeSideMode"></app-select>
    </div>
    <div class="col-span-12 md:col-span-4">
      <app-input-text [label]="TEXT.ProviderSymbol" formControlName="providerSymbol"></app-input-text>
    </div>
    <div class="col-span-12 md:col-span-4">
      <app-select [label]="TEXT.Status" [options]="statusOptions" formControlName="status"></app-select>
    </div>

    <div class="col-span-12">
      <app-input-area [label]="TEXT.Description" [rows]="3" formControlName="description"></app-input-area>
    </div>
  </div>
</app-panel>
