<p-floatlabel [variant]="variant">
  @if (iconClass) {
    <p-iconfield class="w-full">
      <p-inputicon [class]="iconClass"></p-inputicon>
      <ng-container *ngTemplateOutlet="selectControl"></ng-container>
    </p-iconfield>
  } @else {
    <ng-container *ngTemplateOutlet="selectControl"></ng-container>
  }
  <label [attr.for]="inputId">{{ label | translateContent }}</label>
</p-floatlabel>

<ng-template #selectControl>
  <p-select
    [size]="size"
    [inputId]="inputId"
    class="w-full"
    appendTo="body"
    [options]="options | translateContent"
    [optionLabel]="optionLabel"
    [optionValue]="optionValue"
    [optionDisabled]="optionDisabled"
    [group]="group"
    [optionGroupLabel]="optionGroupLabel"
    [optionGroupChildren]="optionGroupChildren"
    [loading]="loading"
    [showClear]="showClear"
    [emptyMessage]="'noDataFound' | translateContent"
    [emptyFilterMessage]="'shared.table.noResultsTitle' | translateContent"
    [placeholder]="(placeholder || '') | translateContent"
    [ariaLabel]="(label || placeholder || inputId) | translateContent"
    [ngModel]="value"
    (ngModelChange)="onChange($event)"
    [disabled]="disabled"
    [required]="required"
    [invalid]="invalid"
    [styleClass]="styleClass"
    (onBlur)="onBlur()"
    (onFocus)="onFocus()"
  >
    <ng-template #group let-groupOption>
      <span class="app-select-group-label">
        {{ groupOption?.[optionGroupLabel] | translateContent }}
      </span>
    </ng-template>
  </p-select>
</ng-template>

@if (helpText) {
  <small [id]="inputId + '-help'" class="app-text-soft">{{ helpText | translateContent }}</small>
}

@if (invalid && errorMessage) {
  <p-message severity="error" size="small" variant="simple">{{ errorMessage | translateContent }}</p-message>
}
