<app-toolbar styleClass="header-toolbar">
  <div toolbar-start class="header-start">
    <app-button
      icon="pi pi-bars"
      [text]="true"
      severity="secondary"
      styleClass="sidebar-toggle-button"
      [ariaLabel]="toggleSidebarLabel()"
      (buttonClick)="onToggleSidebar()"
    ></app-button>

    <div class="page-context">
      <app-breadcrumb
        [home]="homeItem | translateContent"
        [items]="breadcrumbItems | translateContent"
      ></app-breadcrumb>
      <h1>{{ pageTitle() | translateContent }}</h1>
    </div>
  </div>

  <div toolbar-end>
    <button
      type="button"
      class="user-menu-button"
      (click)="toggleAccountMenu($event)"
      [attr.aria-label]="'layout.accountMenu' | translateContent"
      aria-haspopup="menu"
    >
      <span class="user-copy">
        <strong>{{ userDisplayName() | translateContent }}</strong>
        <small>{{ userRoleLabel() | translateContent }}</small>
      </span>
      <app-avatar [label]="userInitials()" shape="circle"></app-avatar>
      <i class="pi pi-chevron-down user-menu-chevron" aria-hidden="true"></i>
    </button>

    <app-tiered-menu #userMenu [items]="accountMenuItems | translateContent" [popup]="true" appendTo="body"></app-tiered-menu>
  </div>
</app-toolbar>
