<p-toolbar class="header-toolbar">
  <ng-template #start>
    <div class="header-start">
      <app-button
        icon="pi pi-bars"
        [text]="true"
        severity="secondary"
        styleClass="sidebar-toggle-button"
        [ariaLabel]="toggleSidebarLabel()"
        (buttonClick)="onToggleSidebar()"
      ></app-button>

      <div class="page-context">
        <p-breadcrumb
          [home]="homeItem | translateContent"
          [model]="breadcrumbItems | translateContent"
        ></p-breadcrumb>
        <h1>{{ pageTitle() | translateContent }}</h1>
      </div>
    </div>
  </ng-template>

  <ng-template #end>
    <button
      type="button"
      class="user-menu-button"
      (click)="toggleAccountMenu($event)"
      [attr.aria-label]="'layout.accountMenu' | translateContent"
      aria-haspopup="menu"
    >
      <span class="user-copy">
        <strong>{{ userDisplayName() | translateContent }}</strong>
        <small>{{ userRoleLabel() | translateContent }}</small>
      </span>
      <p-avatar [label]="userInitials()" shape="circle"></p-avatar>
      <i class="pi pi-chevron-down user-menu-chevron" aria-hidden="true"></i>
    </button>

    <p-tieredMenu #userMenu [model]="accountMenuItems | translateContent" [popup]="true" appendTo="body"></p-tieredMenu>
  </ng-template>
</p-toolbar>
